.ContributionGraph{

    &__table{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    &__week{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}