:root {
  --lelvel0: rgba(237, 237, 237, 1);
  --lelvel1: rgba(172, 213, 242, 1);
  --lelvel2: rgba(127, 168, 201, 1);
  --lelvel3: rgba(82, 123, 160, 1);
  --lelvel4: rgba(37, 78, 119, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
